<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Management System</title>
    
</head>
<body>
    <header>
        <h1 style = "text-align: center; font-size: 80px; backgrod">Welcome to the Asset Management System</h1>
    </header>
    <main>
        <p style =" text-align: center; font-size: 30px;">Efficiently manage and track your assets with ease.</p>
        
    </main>
    <footer>
        <p style = " text-align: center; font-size: 40px; color: black">&copy; 2025 Asset Management System. All rights reserved.</p>
    </footer>
</body>
</html>